user  www-data;
worker_processes  auto;
pid /run/nginx.pid;

events { worker_connections 1024; }

http {
  include       mime.types;
  default_type  application/octet-stream;
  sendfile        on;
  keepalive_timeout  65;
  server_tokens off;

  upstream app_server {
    server 127.0.0.1:8000;
  }

  server {
    listen 80;
    server_name _;

    # Redirect HTTP to HTTPS if you terminate SSL here
    # return 301 https://$host$request_uri;

    # Static files
    location /static/ {
      alias /opt/app/staticfiles/;  # run collectstatic to here
      access_log off;
      expires 30d;
      add_header Cache-Control "public";
    }

    # Media files (recommend serving from cloud storage instead)
    location /media/ {
      alias /opt/app/media/;
      access_log off;
    }

    # Proxy to gunicorn
    location / {
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_pass http://app_server;
      client_max_body_size 50M;
    }
  }
}


